body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #131CF4, #21234E);
}
nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav {
    max-width: 100%;
    height: auto;
    max-height: 100px;
    display: block;
    margin: 0 auto;
}

.center {
    text-decoration: none;
    text-align: center;
    color: white;
    flex-grow: 1;
    font-size: 2.5vw; /* Ukuran font berdasarkan lebar viewport */
    font-family: 'Irish Grover', sans-serif;
}
.h1 {
    color: white;
    text-align: center;
}


  #comment-form {
    margin-left: 28%;
    width: 100%;
    max-width: 600px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }

  #comment-text {
    align-items: center;
    justify-content: center;
    width: 165%;
    height: 80%;
    margin-bottom: 10px;
    border: 10px;
    background-color: rgba(207, 202, 211, 0.46);
  }
  .btn {
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    width: 150px;
    height: 55px;
    border-radius: 45px;
    border: none;
    background-color: rgba(0, 87, 255, 1);
    color: white;
    box-shadow: 0px 10px 10px rgb(210, 187, 253) inset,
    0px 5px 10px rgba(5, 5, 5, 0.212),
    0px -10px 10px rgba(0, 87, 255, 1) inset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn::before {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.678);
    content: "";
    filter: blur(1px);
    top: 7px;
    border-radius: 50%;
  }
  
.btn::after {
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.137);
    content: "";
    filter: blur(1px);
    bottom: 7px;
    border-radius: 50%;
  }
  
.btn:hover {
    animation: jello-horizontal 0.9s both;
  }

  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  #comment-container {
    margin-left: 30%;
    margin-top: 20px;
    width: 300%;
    max-width: 600px;
  }

  .comment {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    position: relative;
    }
button {
    color: white;
    background-color: black;
}
  .comment .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: blue;
    font-size: 15px;
  }
  .footer table{
    margin: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(217, 217, 217, 1);
    color: black;
    float: right;
}
.footer a {
    text-decoration: none;
    color: black;
}
.wm {
    font-size: 20px;
    text-align: center;
    margin-left: 45%;
}
.fitur {
    font-size: 20px;
    margin-left: 15%;
}  